#taskbar_container {
  display:block;
  font-size: 16px;
  overflow: hidden;
  background-color: gray;
  background-color: #048;
  background-color: #eae3e0;
  color:#222;
  position: fixed;
  z-index: 99;
  font-family: initial;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 36px;
  line-height:26px;
  overflow: clip;
  font-family:"sans serif";
  border:0px outset #eae3e0;
  border-bottom-width:1px;
}
#taskbar_container a {
  float: left;
  display: block;
  color: white;
  color:#222;
  padding: 6px 12px;
  text-decoration: none;
/*  font-weight: bold;*/
  transition-duration: 0.2s;
}
#taskbar_container a:hover {
  background-color: lightgray;
  color: black;
  transition-duration: 0.2s;
}

/* #taskbar_container .tb_overflow, */
#taskbar_overflow_container {
  position: relative;
  display: inline-block;
  float: right;
}
/* #taskbar_container .tb_overflow_label, */
#taskbar_overflow_label {
  background-color: #eae3e0;
  color: white;
  color:#222;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 12px;
  height:100%;
  transition-duration: 0.2s;
}
/* #taskbar_container .tb_overflow_label:hover, */
#taskbar_overflow_label:hover {
  background-color: lightgray;
  color: black;
  transition-duration: 0.2s;
}
#taskbar_overflow_items {
  display: none;
  background-color: gray;
  color: white;
  /* display:block; */
  position: fixed;
  right: 0px;
  width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 260px;
  max-height: calc(100vh - 30px);
  overflow-x: clip;
  overflow-y: auto;
}
#taskbar_overflow_items a {
  background-color: gray;
  color: white;
  transition-duration: 0.2s;
  display: block;
  width: 100%;
}
#taskbar_overflow_items a:hover {
  background-color: lightgray;
  color: black;
  transition-duration: 0.2s;
}
/* #taskbar_container .tb_overflow:hover .tb_overflow_list, */
#taskbar_overflow_container:hover #taskbar_overflow_items
 {
  display: block;
  background-color: black;
}
/*------------------*/

/* #taskbar_container .tb_overflow, */
#taskbar_launcher_container {
  position: relative;
  display: inline-block;
  float: left;
  margin-right:1ex;
}
/* #taskbar_container .tb_overflow_label, */
#taskbar_launcher_label {
  display:block;
  color: white;
  background-color: #eae3e0;
  color:#222;
  font-weight: bold;
  font-size: 16px;
  height: calc(100% - 4px);
  line-height: calc(36px - 12px);
  height: calc(36px - 12px);
  padding: 1px 12px;
  overflow:clip;
  margin:1px 1px;
  transition-duration: 0.2s;
  border:3px solid #8880;;
  border:4px solid #888;;
  border-color: #eae3e066;
  border-style:outset;
  border-radius:3px;
  outline: 1px solid #0008;
  outline-offset:-1px;
}
#taskbar_launcher_container:hover #taskbar_launcher_label{
  border-color: #eae3e088;
  border-color: #2468;
  border-style:inset;
  outline: 1px solid #0008;
  outline-offset:-1px;
  border-radius:2px;
}
/* #taskbar_container .tb_overflow_label:hover, */
#taskbar_launcher_label:hover {
  background-color: #246c;
  border-color: #246;
  color: #fff;
  transition-duration: 0.2s;
}
#taskbar_launcher_items {
  display: none;
  background-color: gray;
  color: white;
  /* display:block; */
  position: fixed;
  left: 0px;
  width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 260px;
  max-height: calc(100vh - 30px);
  overflow-x: clip;
  overflow-y: auto;
}
#taskbar_launcher_items a {
  background-color: gray;
  color: white;
  transition-duration: 0.2s;
  display: block;
  width: 100%;
}
#taskbar_launcher_items a:hover {
  background-color: lightgray;
  color: black;
  transition-duration: 0.2s;
}
/* #taskbar_container .tb_overflow:hover .tb_overflow_list, */
#taskbar_launcher_container:hover #taskbar_launcher_items
 {
  display: block;
  background-color: black;

}




/*UP_BUTTON*/
/* #goUpBtn {display:none; opacity:0.5;transition-duration:0.2s; position:fixed; width:80px; padding-bottom:10px;padding-top:5px;font-size:2em;bottom:1em; right:1em; border:1px gray solid; background-color:gray;color: white; cursor: pointer; border-radius:5px; z-index:3; } */
/* #goUpBtn:hover {background-color:lightgray; color:gray; border:1px solid lightgray;opacity:1;transition-duration:0.2s;} */
